<!-- Footer Start -->
<div
class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn"
data-wow-delay="0.1s"
>
<div class="container py-5">
  <div class="row g-5 d-flex justify-content-around">
    <div class="col-lg-3 col-md-6">
      <h4 class="text-white mb-3">Quick Link</h4>
      <ul>
      <li><a class="btn btn-link text-decoration-none fw-bold" href="#home">Home</a></li>
      <li><a class="btn btn-link text-decoration-none fw-bold" href="#services">Service</a></li>
      <li><a class="btn btn-link text-decoration-none fw-bold" href="#gellery">Gallery</a></li>
      <li><a class="btn btn-link text-decoration-none fw-bold" href="#about">About</a></li>
      <li><a class="btn btn-link text-decoration-none fw-bold" href="#contact">Contact</a></li>
      <li><a class="btn btn-link text-decoration-none fw-bold" href="/login">Admin</a></li>

    </ul>
    </div>
    <div class="col-lg-3 col-md-6">
      <h4 class="text-white mb-3">Business Hours</h4>
      <p class="mb-2">
        <i class="fa fa-map-marker-alt me-3"></i>Monday - Saturday
        10:30 A.M. - 6.30 PM,
        Sunday Close
      </p>
      <div class="">
        <a class="btn btn-outline-light btn-social" href=""
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="btn btn-outline-light btn-social" href=""
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-outline-light btn-social" href=""
          ><i class="fab fa-youtube"></i
        ></a>
        <a class="btn btn-outline-light btn-social" href=""
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<div class="container ">
  <div class="copyright">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 text-center mb-3 fw-bold ">
        &copy; <a class="text-decoration-none" href="#">The New National Security Services</a>, All Right
        Reserved. Designed By
        <a class="text-decoration-none" href=""
          >I NEXT ETS</a
        >
      </div>
    </div>
  </div>
</div>
</div>
<!-- Footer End -->