<!-- Nav Bar -->
<div class="bg-light">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark p-0">
      <a href="/">
        <div class="d-flex align-items-center g-2 mb-2 mt-2" >
          <img src="/images/img.jpeg" alt="Logo" width="about" height="45" class="" />
          <a class="navbar-brand" href="/"
            style="font-weight: bold !important; font-size: 15px; color: #0f4d83">The New National Security Services</a>
        </div>
      </a>
      <!-- Nav Toggle Button -->
      <button class="navbar-toggler text-secondary  my-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-secondary"></span>
      </button>
      <!-- Nav Links -->
      <div class="collapse navbar-collapse justify-content-end lh-lg" id="main_nav" >
        <ul class="navbar-nav p-3 p-md-0 text-dark fw-bold">
          <li class="nav-item "> <a class="nav-link active text-dark" href="#home">Home</a> </li>
          <li class="nav-item "> <a class="nav-link active text-dark" href="#services">Services</a> </li>

          <li class="nav-item "> <a class="nav-link active text-dark" href="#gellery">Gallery</a> </li>
          <li class="nav-item "> <a class="nav-link active text-dark" href="#about">About</a> </li>
          <li class="nav-item "> <a class="nav-link active text-dark" href="#contact">Contact</a> </li>
          <li class="nav-item "> <a class="nav-link active text-dark" href="/login">Admin</a> </li>
        </ul>
      </div>
    </nav>
  </div>
</div>